body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-family: "Acme", sans-serif;
}
text {
  font-family: "Acme", sans-serif;
}
.btn {
  width: 5%;
  height: 50px;
  display: inline-block;
  border: 0.16em solid rgb(255, 255, 255);
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #ededed;
  text-shadow: 0 0.04em 0.04em #18161641;
  text-align: center;
  transition: all 0.2s;
  background-color: #444444;
}

.btn:hover {
  color: #2c3333;
  background-color: rgb(247, 239, 239);
}
.dark-mode {
  background-color: #303841;
}
.dark-mode h1 {
  color: #eee;
}
.search {
  display: flex;
  align-items: center;
  background-color: #effffd;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search input {
  border: none;
  background-color: #effffd;
}
.search input:focus {
  outline: none;
}
.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.notes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
}
.note {
  background-color: #faffaf;
  border-radius: 12px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}
.note.new {
  background-color: #b6ffce;
}
textarea {
  border: none;
  resize: none;
  background-color: #b6ffce;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: #4d96ff;
  border: none;
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
}
.save:hover {
  background-color: #4b7be5;
  cursor: pointer;
}
.delete-icon {
  cursor: pointer;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
